@{
    Layout = "_Layout";  
}

@model Tamagotchi.Models.Pet

<h1>Your Pets</h1>
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Life): @Html.DisplayFor(model => model.Life)</p>


@using (Html.BeginForm())
{
    <input type="submit" value="" />
}
<form action="/routepath" method="post">
    <button type="submit">Feed Me!</button>
</form>
<form action="/routepath" method="post">
    <button type="submit">Play with Me!</button>
</form>
<form action="/routepath" method="post">
    <button type="submit">I'm tired!</button>
</form>
<form action="/items/delete" method="post">
    <button type="submit" name="button">Clear All Items</button>
</form>