<h1>Your Pets</h1>
<p> your pet name is :@Model.Name</p>
<form action="/routepath" method="post">
    <button type="submit">Feed Me!</button>
</form>
<form action="/routepath" method="post">
    <button type="submit">Play with Me!</button>
</form>
<form action="/routepath" method="post">
    <button type="submit">I'm tired!</button>
</form>
<form action="/items/delete" method="post">
    <button type="submit" name="button">Clear All Items</button>
</form>