@{
    Layout = "_Layout";
}

<body>
    <h1>Welcome to Tamagotchi Pets!</h1>
    <img src="https://ih1.redbubble.net/image.611797885.7619/st,small,507x507-pad,600x600,f8f8f8.u1.jpg"
        alt="Cartoon Tamagotchi">
    <h2>@Html.ActionLink("See all pets", "Index", "Pets")</h2>
    <h2>@Html.ActionLink("Create a pet", "Create")</h2> 
</body>