<!DOCTYPE html>
<html>

<head>
    <title>Tamagotchi Pets</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <h1>Welcome to Tamagotchi Pets!</h1>
    <a href="/pets/new">Create your new pet.</a>
    <a href="/pets">View all your pets.</a>
</body>

</html>