<!DOCTYPE html>
<html>

<head>
    <title>Tamagotchi Pets</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
    <h1>Welcome to Tamagotchi Pets!</h1>
    <img src="https://ih1.redbubble.net/image.611797885.7619/st,small,507x507-pad,600x600,f8f8f8.u1.jpg"
        alt="Cartoon Tamagotchi">
    <a href="/pets/new">Create your new pet.</a>
    <a href="/pets">View all your pets.</a>
</body>

</html>