@{
    Layout = "_Layout";
}

<body>
    <h1>Welcome to Tamagotchi Pets!</h1>
    <h2>@Html.ActionLink("See all pets", "Index", "Pets")</h2>
    <h2>@Html.ActionLink("Create a pet", "Create", "Pets")</h2> 
</body>